@tailwind base;
@tailwind components;
@tailwind utilities;
@custom-variant dark (&:where([theme-mode=dark], [theme-mode=dark] *));

:root {
  --text-primary: blue;
  --td-font-family: Inter, -apple-system, BlinkMacSystemFont, PingFang SC, Hiragino Sans GB, noto sans, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif;
  --td-font-family-medium: Inter, -apple-system, BlinkMacSystemFont, PingFang SC, Hiragino Sans GB, noto sans, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif;
}

html,
body,
#app {
  height: 100vh;
}

body {
  font-family: var(--td-font-family);
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #DDDEE0;
  border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #DDDEE0;
}